//Font
*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
}

//Colors
$blueDark:    #4054B2;
$blueLigth:    #6EC1E4;
$green:    #84D95C;
$white: #FFFFFF;

$Hover-color: #28377C;

$border-r-btn: 5px;
$border-r-img: 5px;
$border-r-div: 5px;
$right-border-r: 6px 0px 0px 6px;
$left-borde-r: 0px 6px 6px 0px;

$Label-form-contact: #797777;